.white {
  color: white !important;
}

/* Estilo para el input dentro de form-floating */
.form-control,
.form-floating .form-control {
  border: 1px solid #ced4da; /* Borde */
  border-radius: 4px; /* Borde redondeado */
  padding: 0.375rem 0.75rem; /* Espaciado interno */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Transiciones */
}
/* Estilo para el label flotante */

.form-floating label {
  position: absolute;
  top: 0.375rem;
  left: 0.75rem;
  font-size: 1rem; /* Tamaño de fuente */
  color: #6c757d; /* Color del texto */
  pointer-events: none;
  transition: top 0.08s ease-out, left 0.08s ease-out, font-size 0.08s ease-out; /* Transiciones */
}
/* Estilo para el input enfocado */
.form-control:focus,
.form-floating .form-control:focus {
  border-color:  #0d6efd; /* Color del borde al enfocar */
  border : 2px solid #0d6efd !important; 
  outline: 1; /* Quita el borde azul al enfocar en Chrome */
  box-shadow: none !important;
 /* box-shadow: 0 0 0 0.1rem #0d6efd!important; /* Sombra al enfocar */
}
/* Estilo para el label flotante cuando el input está enfocado o tiene contenido */
.form-control:focus + label,
.form-floating .form-control:focus + label,
.form-floating .form-control:not(:placeholder-shown) + label {
  font-size: 0.9rem; /* Tamaño de fuente más pequeño al escribir o al enfocar */
  color: #007bff; /* Color del texto al escribir o al enfocar */
  top: 0; /* Mueve el label hacia arriba */
  left: 0.75rem; /* Alinea el label con el borde */
}
