label::after {
  content: "";
  color: red;
  margin-left: 5px;
}

.form-floating input[required] + label::after {
  content: "*";
  color: red;
}
.form-floating {
  position: relative;
  margin-bottom: 1rem;
  color: gray !important;
}
.form-floating input:focus {
  border-width: 2px !important;
  border-color: #007bff !important;
  box-shadow: none !important;
}
body {
  font-family: "Roboto", sans-serif;
}
.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
  /* top: -0.5rem!important; */
  font-size: 15px !important;
  color: #007bff !important;
}
a {
  text-decoration: none !important;
}
.card {
  max-width: 500px !important;
}
 
